/* colorpalette
brown: #540B0E
red: #9E2A2B
grey: #1B3137
blue:#242D39

*/

body {
    padding:10%;
    font-family: 'Spartan', sans-serif;
    font-weight:400;
    color: #fff;
    background: radial-gradient(rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
}
section a {
    text-decoration: none;
    color:#fff;
    
}
section a:hover{
    color:#335c67;
    font-size: 18px;
    font-weight: 700;
}

footer p {
    color:#335c67;
    font-size: 13px;
    text-align: center;
    margin: 0;
}
footer a {
    color:#335c67;
}
footer a:hover{
    color:#fff;
    font-weight: 700;
}

#app-container {
    background: rgb(16, 37, 60);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 80%;
    min-width: 300px;
}
#app-container,#footer {
    border:1px solid transparent;
    border-radius: 10px;
    padding: 30px 30px;
    margin: 0 auto;
}
#searchbar-container {
    padding: 30px 10px;
}
#searchbar {
   box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border: none;
}
 
#submit-btn, #crn-location-btn {
    color: #fff;
    background:#335c67 ;
    border:none;
    margin: 0 1px 0 2px;
    padding: 5px 15px;
    font-size: 25px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    transition: 200ms ease-in-out;
}
#submit-btn:hover, #crn-location-btn:hover {
color: #335c67;
background:#fff ;
}
#city-container, #quote-container {
    padding: 30px;
}
#city-container ul  {
list-style: none;
padding: 0;
margin: 0;
}

#temperature-container {
    font-size: 70px;
    text-align: right;
}
#temperature-container .units {
    position: relative;
    bottom:45px;
    right: 13px;
    font-size: 15px;
}
#temperature-container .active:hover {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    cursor: default;
}

.forecast {
    text-align: center;
    width: 190px;
    padding: 20px;

  }
  .forecast-day
{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
    opacity: 0.7;
}
.forecast-icon img {
    width:80px
}
.forecast-temp-max, .forecast-temp-min
{
    font-size: 15px;
    padding: 0 3px;
}
.forecast-temp-min {
    color:#335c67;
    opacity: 0.7;
}


